[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=172.31.21.1:8080
Environment=DB_HOST=172.31.22.23
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
